**/.zsh_history
**/.zsh_history.new
**/.zsh_history.backup
**/.zsh_sessions

nvim.bak

Code/

github-copilot/

neofetch/

Proton/

gtk**/

configstore/

libreoffice/

go/

ibus/

**/*.dirs 
**/*.locale

background

**/.zcompdump**

Postman/

.DS_Store

